body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 1.25vw;
    }

main{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(5,auto);
}

body, main {
    margin: 0;
    padding: 0;
}

.main-section{
    grid-column: 2/3;
    padding: 1em 3em;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

code{
    display: inline-block;
    margin-bottom: 1em;
    
}

#navbar{
    grid-row: 1/6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 20%;
    position: fixed;
    border-right: solid 1px #000;
}

#navbar > header{
    margin: 14px;
}

.nav-link{  
    min-height: 4em;
    height: auto;
    width: 100%;
    border-top: solid 1px #000;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

a > p {
    margin: auto 0.5em auto 1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 875px) {
    body{
        font-size: 2vw;
    }
    main{
        grid-template-columns: 30% 70%;
    }
    #navbar {
        width: 30%;
    }
}

@media (max-width: 600px) {
    body{
        font-size: 3.5vw;
    }
    main{
        grid-template-columns: 35% 65%;
    }
    .main-section{
        grid-column: 2/3;
        padding: 1em 2em;
    }
    #navbar {
        width: 35%;
    }
}
