.as-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.as-header{
    flex: 1;
    border-bottom: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #d93025;
    font-size: 20px;    
    margin-left: 30px;
}

.as-main {
    flex: 9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    margin-left: 30px;
    margin-top: 20px;
    width: 60%;
}

#options-element1 {
    grid-column: 1 / 2;
    font-size: 17px;  
}

#options-element2 {
    grid-column: 1 / 2;
}

.options-input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    text-align: left;
}

#as-search-button{
    grid-column: 2 / 3;
    display: flex;    
    justify-content: right;
}

#as-search-button input{
    color: #fff;
    background-color: #4d90fe;
    border: 1px solid #3079ed;    
}

@media (width > 1024px) {
    .as-main{
        width: 40%;
    }
}

@media (max-width: 600px) {
    .as-main{
        width: 80%;
    }
    .as-header{
        font-size: 15px;
    }
    .options-input {
        font-size:9px;  
    }
    #options-element1 {
        font-size: 12px;  
    }
}