body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 8;
    position: relative;
    display: flex;
    align-items: center;
}

.buttons-container{
    position: absolute;
    right: 50px;
    padding: 20px;
}

.buttons-container a {
    padding: 10px;
}

main {
    flex: 84;
    position: relative;
}

.search-container {   
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-container img {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type="text"] {
    width: 30em;
    margin-bottom: 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    color: #333;
    height: 2.5em;
    width: 30em;
}

input[type="text"]:focus {
    border-color: #0066cc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
    
}

input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    width: 10em;
    height: 2em;
    font-size: 14px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    color: #333;
}

input[type="submit"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    flex: 8;
    align-content: center;
    padding: 10px;
}

.copyright-container {
    text-align: center;
 }