h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

#main {
  margin-left: 20em;
}

#form-container{
  padding-top: 10px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 2px;
}

th {
  border: 1px solid black;
  padding: 2px;
}